install_linux.sh
install_mac.sh
*.sh
.DS_Store
*log.txt
.idea/
.vscode
.coverage
*.idea
*.pyc
*.iml
*.xml
*.db
*.bak
__pycache__
pip.ingnore
*.sqlite3
*.py[cod]
!.gitkeep
tmp.py
*.tgz
ysfe-mac-v*
ysfe-linux-v*
tmp